# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/
backend/.env
backend/venv/
frontend/.env.production
frontend/.env.development
frontend/.env.local

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
